data:
    train : /kaggle/working/rct/data/train.txt
    test : /kaggle/working/rct/data/test.txt
    dev: /kaggle/working/rct/data/dev.txt
    finetuned_model: /kaggle/working/rct/model/
    

finetunedmodel:
    model : /kaggle/working/rct/model/pytorch_model.bin
    config: /kaggle/working/rct/model/config.json
    vocab: /kaggle/working/rct/model/vocab.txt

hyperparams:
     learning_rate: 2e-5
     epsilon: 1e-8
     epochs: 3
     batch_size: 16
